<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tramed.backend.infrastructure.mybatis.mapper.NotificationContentMapper">
  <select id="fetchNotificationContentByLocale" resultType="com.tramed.backend.infrastructure.mybatis.entity.notification.NotificationContentEntity">
    SELECT * FROM notification_content
    <where>
      <if test="locale != null and locale != ''">
        locale = #{locale}
      </if>
    </where>

  </select>
</mapper>
